@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    --black: #000000;
    --gray: #eeeeee;
    --darkgray: #747474;
    --lightblue: #f7f6ff;
    --red: #fd2727;
    --green: #10eb3f;
    --white: #ffffff;
    --palepink: #fff5f6;
    --pink: #f14b61;

    --bradius: 15px;
}
/* -------------------------------STORIES CSS--------------------------------------- */
.stories-panel{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
    width: 100%;
    height: 95vh;
    margin-top: 20px;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
.panel-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: auto;
}
.panel-container a{
    text-decoration: none;
    color: var(--pink);
}
.back-button{
    cursor: pointer;
    display: block;
    font-size: 40px;
    border-radius: 50px;
}
.back-button:active{
    transform: scale(0.95);
    transition: all 0.1s ease;
}
.back-button:hover{
    transition: all 0.3s ease;
    color: var(--white);
    background-color: var(--pink);
}
.panel{
    scroll-snap-align: start;
    position: relative;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    width: 500px;
    height: 95vh;
    border-radius: var(--bradius);
    overflow: hidden;
}
.loader{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 1%;
    height: 3px;
    width: 90%;
    border-radius: var(--bradius);
    background-color: var(--white);
    overflow: hidden;
}
.user-container{
    display: flex;
    align-items: center;
}
.progress{
    position: relative;
    width: 100%;
    height: 3px;
    background-color: var(--pink);
    left: -100%;
    animation: progressing 20s linear infinite;
}
.panel-gradient{
    position: absolute;
    background: linear-gradient(to top, var(--black), transparent, transparent, transparent);
    height: 100%;
    width: 100%;
}
.send-msg{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 2rem;
    bottom: 2%;
}
.story-react{
    display: flex;
    gap: 1rem;
}
.send-msg i{
    cursor: pointer;
    font-size: 25px;
    color: var(--white);
}
.send-msg input{
    width: 350px;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: var(--bradius);
    font-size: 15px;
    color: var(--gray);
    backdrop-filter: blur(5px);
    background-color: rgb(116, 116, 116, 0.3);
}
::-webkit-input-placeholder{
    color: var(--darkgray);
}
@keyframes progressing {
    100%{
        left: 100%;
    }
}
.story-user span{
    font-size: 13px;
    color: var(--gray);
}
.story-user h4{
    color: var(--white);
    font-weight: 500;
}
.story-user{
    z-index: 200;
    position: absolute;
    top: 2%;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.story-user img{
    border: 2px solid var(--pink);
    width: 40px;
    border-radius: 50%;
}
/* -------------------------------STORIES CSS--------------------------------------- */

@media (max-width:1520px) {

}

@media (max-width:1470px) {

}

/* TABLET MEDIA QUERY */

@media (max-width: 1275px) {
    .panel{
        border-radius: var(--bradius);
        width: 70%;
    }

}
/* TABLET MEDIA QUERY */





/* MOBILE  MEDIA QUERY */

@media (max-width: 430px){
    .stories-panel{
        flex-direction: column;
        gap: 3rem;
        height: 100vh;
        margin: 0;
    }
    .panel{
        border-radius: 0;
        width: 100vw;
        height: 100vh;
    }
    .stories-panel a{
        position: absolute;
        right: 5%;
        top: 3%;
    }
    .send-msg input{
        width: 300px;
    }
    .back-button{
        color: var(--pink);
        background-color: var(--white);
        font-size: 30px;
    }
}


/* MOBILE  NAVBAR */

/* MOBILE  NAVBAR */

/*IPHONE 12 SCREEN MOBILE */
@media (max-width:390px) {
    .send-msg input{
        width: 260px;
    }
}
/*IPHONE 12 SCREEN MOBILE */

/* SMALLER SCREEN MOBILE [IPHONE SE]  NAVBAR */
@media (max-width: 375px) {
    .send-msg{
        gap: 1rem;
    }
    .send-msg input{
        width: 250px;
    }
}

/* SMALLER SCREEN MOBILE [IPHONE SE]  NAVBAR */
